# Project 001 UCSD Data Science Visualization Bootcamp
* Noreen Malik üòÉ
* Rene Venema("dutch") üê±
* John Warlop ü¶Å
* Alex Wooten üèÑ

üòõüò≥üòóüòìüôâüò∏üôàüôäüòΩüíÄüí¢üí•‚ú®üíèüë´üëÑüëÉüëÄüëõüëõüóºüîÆüîÆüéÑüéÖüëª

## Dependencies -- imports

In [3]:
import pandas as pd
import json
#Noreen typed this

## Constants -- API Keys, etc

In [4]:
# Read in API(.gitignore file has entry for api_keys.json file)
IRS_DATAFRAME_PICKLE = 'df_irs.pkl'
with open('api_keys.json') as json_data:
    api_keys = json.load(json_data)
#print(api_keys['socrata']['App_Token'])
#print(api_keys['socrata']['Secret_Token'])
#print(api_keys['zillow']['ZWSID'])

## Functions

In [5]:
def winning_team():
    print("Noreen, 'Dutch', Alex and John make for a winning team")
    
def return_irs_df(file_name):
    #return the pickled dataframe for irs data
    df_irs = pd.read_pickle(file_name)
    return(df_irs)

## Solution Space

In [6]:
winning_team()

Noreen, 'dutch', Alex and John make for a winning team

In [7]:
# Test if return_irs_df works
df_irs = return_irs_df(IRS_DATAFRAME_PICKLE)
df_irs.head()

   ST  Zip  AGI      TtlR     TtlSR     TtlJR       Eld
0  AL    0    1  836320.0  481570.0  109790.0  149910.0
1  AL    0    2  494830.0  206630.0  146250.0  107480.0
2  AL    0    3  261250.0   80720.0  139280.0   73400.0
3  AL    0    4  166690.0   28510.0  124650.0   49990.0
4  AL    0    5  212660.0   19520.0  184320.0   65870.0

In [8]:
df_irs

        ST    Zip  AGI      TtlR     TtlSR     TtlJR       Eld
0       AL      0    1  836320.0  481570.0  109790.0  149910.0
1       AL      0    2  494830.0  206630.0  146250.0  107480.0
2       AL      0    3  261250.0   80720.0  139280.0   73400.0
3       AL      0    4  166690.0   28510.0  124650.0   49990.0
4       AL      0    5  212660.0   19520.0  184320.0   65870.0
5       AL      0    6   55360.0    2950.0   49260.0   18190.0
6       AL  35004    1    1490.0     970.0     230.0     350.0
7       AL  35004    2    1350.0     630.0     360.0     250.0
8       AL  35004    3     970.0     310.0     490.0     200.0
9       AL  35004    4     620.0     110.0     470.0     130.0
10      AL  35004    5     620.0      40.0     560.0     140.0
11      AL  35004    6      60.0       0.0      50.0       0.0
12      AL  35005    1    1350.0     750.0     190.0     280.0
13      AL  35005    2     980.0     370.0     230.0     210.0
14      AL  35005    3     490.0     150.0     210.0     120.0
15      AL  35005    4     250.0      50.0     180.0      60.0
16      AL  35005    5     190.0       0.0     160.0      50.0
17      AL  35005    6       0.0       0.0       0.0       0.0
18      AL  35006    1     430.0     260.0     100.0     110.0
19      AL  35006    2     340.0     120.0     150.0      90.0
20      AL  35006    3     190.0      30.0     130.0      40.0
21      AL  35006    4     130.0      30.0     100.0      40.0
22      AL  35006    5     140.0       0.0     130.0      30.0
23      AL  35006    6       0.0       0.0       0.0       0.0
24      AL  35007    1    4170.0    2750.0     560.0     680.0
25      AL  35007    2    2700.0    1160.0     840.0     530.0
26      AL  35007    3    1840.0     570.0     950.0     380.0
27      AL  35007    4    1440.0     190.0    1140.0     360.0
28      AL  35007    5    1780.0     130.0    1590.0     390.0
29      AL  35007    6     240.0       0.0     220.0      80.0
...     ..    ...  ...       ...       ...       ...       ...
166668  WY  83126    1      60.0      60.0      40.0      40.0
166669  WY  83126    2      30.0       0.0       0.0       0.0
166670  WY  83126    3      40.0       0.0      30.0      30.0
166671  WY  83126    4      40.0       0.0      40.0       0.0
166672  WY  83126    5       0.0       0.0       0.0       0.0
166673  WY  83126    6       0.0       0.0       0.0       0.0
166674  WY  83127    1     380.0     240.0      80.0     140.0
166675  WY  83127    2     300.0     120.0     150.0     120.0
166676  WY  83127    3     230.0      70.0     150.0     100.0
166677  WY  83127    4     190.0      30.0     160.0      90.0
166678  WY  83127    5     230.0      20.0     200.0     120.0
166679  WY  83127    6      70.0       0.0      60.0      40.0
166680  WY  83128    1     250.0     190.0      30.0      60.0
166681  WY  83128    2     210.0     120.0      60.0      40.0
166682  WY  83128    3     160.0      70.0      90.0      40.0
166683  WY  83128    4      90.0       0.0      80.0      30.0
166684  WY  83128    5     100.0      30.0      90.0      40.0
166685  WY  83128    6      50.0       0.0      40.0      30.0
166686  WY  83414    1      60.0      50.0       0.0       0.0
166687  WY  83414    2      60.0      40.0      50.0      40.0
166688  WY  83414    3       0.0       0.0       0.0       0.0
166689  WY  83414    4      20.0       0.0       0.0       0.0
166690  WY  83414    5      30.0       0.0      30.0      30.0
166691  WY  83414    6      30.0       0.0      30.0       0.0
166692  WY  99999    1    5360.0    3990.0     710.0    1310.0
166693  WY  99999    2    3680.0    2000.0    1080.0    1060.0
166694  WY  99999    3    2630.0    1100.0    1240.0     780.0
166695  WY  99999    4    2020.0     590.0    1310.0     630.0
166696  WY  99999    5    2670.0     430.0    2170.0     910.0
166697  WY  99999    6     760.0     140.0     650.0     400.0

[166698 rows x 7 columns]

In [ ]:
#hello from Noreen

In [ ]:
#I made a change