# Project 001 UCSD Data Science Visualization Bootcamp
* Noreen Malik üòÉ
* Rene Venema("dutch") üê±
* John Warlop ü¶Å
* Alex Wooten üèÑ

üòõüò≥üòóüòìüôâüò∏üôàüôäüòΩüíÄüí¢üí•‚ú®üíèüë´üëÑüëÉüëÄüëõüëõüóºüîÆüîÆüéÑüéÖüëª

## Dependencies -- imports

In [1]:
import pandas as pd
import json

## Constants -- API Keys, etc

In [13]:
# Read in API(.gitignore file has entry for api_keys.json file)
IRS_DATAFRAME_PICKLE = 'df_irs.pkl'
with open('api_keys.json') as json_data:
    api_keys = json.load(json_data)
#print(api_keys['socrata']['App_Token'])
#print(api_keys['socrata']['Secret_Token'])
#print(api_keys['zillow']['ZWSID'])

## Functions

In [9]:
def winning_team():
    print("Noreen, 'dutch', Alex and John make for a winning team")
    
def return_irs_df(file_name):
    #return the pickled dataframe for irs data
    df_irs = pd.read_pickle(file_name)
    return(df_irs)

## Solution Space

In [10]:
winning_team()

Noreen, 'dutch', Alex and John make for a winning team

# IRS Dataframe
[Link to Documentation](https://www.irs.gov/statistics/soi-tax-stats-individual-income-tax-statistics-2015-zip-code-data-soi) |
[SOI Tax Stats](https://www.irs.gov/statistics/soi-tax-stats-statistical-methodology)

In [11]:
# Dataframe columns are: ST(State), Zip(Zip Code), AGI(Adjusted Gross Income),TtlR(Total Returns)
# TtlSR(Total Single Returns), TtlJR(Total Joint Returns), Eld(Number of Elderly Returns -- over 60 years old)

df_irs = return_irs_df(IRS_DATAFRAME_PICKLE)
df_irs.head()

   ST  Zip  AGI      TtlR     TtlSR     TtlJR       Eld
0  AL    0    1  836320.0  481570.0  109790.0  149910.0
1  AL    0    2  494830.0  206630.0  146250.0  107480.0
2  AL    0    3  261250.0   80720.0  139280.0   73400.0
3  AL    0    4  166690.0   28510.0  124650.0   49990.0
4  AL    0    5  212660.0   19520.0  184320.0   65870.0

# Create dataframe from csv file(dutch)
[Link to Documentation](https://dev.socrata.com/foundry/data.cms.gov/ehrv-m9r6)

In [4]:
main_df = pd.read_csv("main_data_cleaned.csv")
main_df.head()

,DRG Definition,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,HRR Description,Total Discharges,ACC,ATP,AMP
0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,91,32963.07,5777.24,4763.73
1,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,AL - Birmingham,14,15131.85,5787.57,4976.71
2,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10006,ELIZA COFFEE MEMORIAL HOSPITAL,205 MARENGO STREET,FLORENCE,AL,35631,AL - Birmingham,24,37560.37,5434.95,4453.79
3,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10011,ST VINCENT'S EAST,50 MEDICAL PARK EAST DRIVE,BIRMINGHAM,AL,35235,AL - Birmingham,25,13998.28,5417.56,4129.16
4,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10016,SHELBY BAPTIST MEDICAL CENTER,1000 FIRST STREET NORTH,ALABASTER,AL,35007,AL - Birmingham,18,31633.27,5658.33,4851.44

# Avg Cost Per Provider (Alex)

# Avg Cost of Procedure in each state(John)

# Comparing procedure costs vs income in zip code(John)